@charset "UTF-8";
/*header + nav + footer GENERAL para todas las páginas. Media queries: SMALL y LARGE
    Titulos de las Pags incluidos (final de la hoja)*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0; }

p {
  margin-bottom: 0; }

/*VARIABLES*/
.backgroundHtml {
  background: #614385;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #516395, #614385);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #516395, #614385);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

/*MIXIN*/
/* -------------- INDEX - MAIN  -------------- */
/*GENERAL*/
#leyendaHome {
  display: flex;
  justify-content: center;
  background-color: black; }
  #leyendaHome #leyendaHome2 {
    display: flex;
    justify-content: center;
    align-items: center; }
    #leyendaHome #leyendaHome2 .flechas {
      width: calc(13px + 10vw);
      height: calc(13px + 10vw);
      transform: rotate(90deg); }
    #leyendaHome #leyendaHome2 #banner {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #leyendaHome #leyendaHome2 #banner .tituloHome {
        text-align: center;
        font-family: "Darker Grotesque", sans-serif;
        color: white;
        font-size: calc(13px + 2.5vw); }
    #leyendaHome #leyendaHome2 #banner::before {
      content: " ";
      display: block;
      border-top: 1px #614385 solid; }
    #leyendaHome #leyendaHome2 #banner::after {
      content: " ";
      display: block;
      border-bottom: 1px #614385 solid; }

/*SMALL*/
@media only screen and (max-width: 600px) {
  #imgHome img {
    width: 100%;
    height: 300px;
    object-fit: cover; }
  #leyendaHome {
    padding-top: 10px; }
    #leyendaHome #leyendaHome2 {
      width: 90%; }
      #leyendaHome #leyendaHome2 .flechas img {
        width: 100%;
        height: 100%; }
      #leyendaHome #leyendaHome2 #banner {
        width: 85%;
        padding-top: 10px;
        padding-bottom: 10px; }
        #leyendaHome #leyendaHome2 #banner .tituloHome {
          letter-spacing: 3px;
          word-spacing: 5px; }
      #leyendaHome #leyendaHome2 #banner::before {
        padding-bottom: 15px; }
      #leyendaHome #leyendaHome2 #banner::after {
        padding-top: 15px; } }

/*LARGE*/
@media screen and (min-width: 992px) {
  img {
    width: 100%;
    height: 100%; }
  #leyendaHome {
    padding: 20px; }
    #leyendaHome #leyendaHome2 {
      width: 80%; }
      #leyendaHome #leyendaHome2 #banner {
        width: 80%; }
        #leyendaHome #leyendaHome2 #banner .tituloHome {
          letter-spacing: 7px;
          word-spacing: 13px; }
      #leyendaHome #leyendaHome2 #banner::before {
        padding-bottom: 30px; }
      #leyendaHome #leyendaHome2 #banner::after {
        padding-top: 30px; } }

* {
  margin: 0;
  padding: 0; }

/*VARIABLES*/
.backgroundHtml {
  background: #614385;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #516395, #614385);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #516395, #614385);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

/*MIXIN*/
/*NOSOTROS - General y Media Queries SM y LG
Recordatorio: titulos y parrafos en la hoja estilos.scss*/
#grillaNosotros #contenedorCasillasNos {
  justify-content: center;
  margin-right: 0;
  margin-left: 0; }
  #grillaNosotros #contenedorCasillasNos img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem; }

/*----------------------- SMALL -----------------------*/
@media only screen and (max-width: 600px) {
  #grillaNosotros #contenedorCasillasNos #carouselExampleControls {
    height: 250px; }
  #grillaNosotros #contenedorCasillasNos #leyendaNosotros2 {
    display: none; }
  #presentacionNosotros {
    width: 95%;
    padding-top: 10px;
    padding-bottom: 20px; } }

/*----------------------- LARGE -----------------------*/
@media screen and (min-width: 992px) {
  #titulosContenedor {
    padding-bottom: 20px; }
  #grillaNosotros {
    width: 100%; }
    #grillaNosotros #contenedorCasillasNos #leyendaNosotros {
      flex-direction: row;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 18%; }
    #grillaNosotros #contenedorCasillasNos #leyendaNosotros2 {
      flex-direction: row;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 18%; }
    #grillaNosotros #contenedorCasillasNos #carouselExampleControls {
      width: 60%;
      height: 400px; }
      #grillaNosotros #contenedorCasillasNos #carouselExampleControls button {
        z-index: 0; }
  #presentacionNosotros {
    width: 70%;
    padding-top: 15px;
    padding-bottom: 25px; } }

/*VARIABLES*/
.backgroundHtml {
  background: #614385;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #516395, #614385);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #516395, #614385);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

/*MIXIN*/
* {
  margin: 0;
  padding: 0; }

/*VARIABLES*/
.backgroundHtml {
  background: #614385;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #516395, #614385);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #516395, #614385);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

/*MIXIN*/
/*CAFETERIA y BAR- General y Media Queries SM y LG
Recordatorio: titulos y parrafos en la hoja estilos.scss*/
#grillaCafeBar {
  display: flex;
  justify-content: center; }
  #grillaCafeBar #contededorCasillasCafeBar {
    width: 95%;
    margin-right: 0;
    margin-left: 0;
    display: grid;
    justify-content: center;
    align-items: center; }
    #grillaCafeBar #contededorCasillasCafeBar img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.625rem; }
    #grillaCafeBar #contededorCasillasCafeBar #leyendaHtml1 {
      grid-area: leyenda1; }
    #grillaCafeBar #contededorCasillasCafeBar #leyendaHtml2 {
      grid-area: leyenda2; }
    #grillaCafeBar #contededorCasillasCafeBar #foto1 {
      grid-area: foto1; }
    #grillaCafeBar #contededorCasillasCafeBar #foto2 {
      grid-area: foto2; }
    #grillaCafeBar #contededorCasillasCafeBar #foto3 {
      grid-area: foto3; }
    #grillaCafeBar #contededorCasillasCafeBar #foto4 {
      grid-area: foto4; }
    #grillaCafeBar #contededorCasillasCafeBar #foto5 {
      grid-area: foto5; }
    #grillaCafeBar #contededorCasillasCafeBar #foto6 {
      grid-area: foto6; }

/*----------------------- SMALL -----------------------*/
@media only screen and (max-width: 600px) {
  #grillaCafeBar {
    padding-bottom: 20px; }
    #grillaCafeBar #contededorCasillasCafeBar {
      grid-template-columns: 48% 48%;
      grid-template-rows: 60px 150px 150px 150px 60px;
      grid-template-areas: "leyenda1 leyenda1" "foto1 foto2" "foto3 foto4" "foto5 foto6" "leyenda2 leyenda2";
      row-gap: 10px;
      column-gap: 10px; }
      #grillaCafeBar #contededorCasillasCafeBar #leyendaHtml2 {
        padding-top: 5px; } }

/*----------------------- LARGE -----------------------*/
@media screen and (min-width: 992px) {
  #titulosContenedor {
    padding-bottom: 20px; }
  /*comparte estilo de grilla con BAR*/
  #grillaCafeBar #contededorCasillasCafeBar {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 240px 240px;
    grid-template-areas: "leyenda1 foto1 foto2 foto3 leyenda2" "leyenda1 foto4 foto5 foto6 leyenda2";
    row-gap: 20px;
    column-gap: 20px;
    margin-bottom: 20px; }
    #grillaCafeBar #contededorCasillasCafeBar img {
      filter: opacity(0.85); }
    #grillaCafeBar #contededorCasillasCafeBar img:hover {
      filter: none;
      transform: scale(1.02, 1.02);
      transition: 0.3s; }
    #grillaCafeBar #contededorCasillasCafeBar #leyendaHtml1 {
      border-top: 2px dashed #502953;
      border-bottom: 2px dashed #502953;
      padding-top: 50px;
      padding-bottom: 50px; }
    #grillaCafeBar #contededorCasillasCafeBar #leyendaHtml2 {
      border-top: 2px dashed #502953;
      border-bottom: 2px dashed #502953;
      padding-top: 50px;
      padding-bottom: 50px; } }

* {
  margin: 0;
  padding: 0; }

/*VARIABLES*/
.backgroundHtml {
  background: #614385;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #516395, #614385);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #516395, #614385);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

/*MIXIN*/
/*CONTACTO- General y Media Queries SM y LG
Recordatorio: titulos y parrafos en la hoja estilos.scss*/
/*FORMULARIO*/
#contenedorButton {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px; }
  #contenedorButton .button {
    padding-right: 20px;
    padding-left: 20px; }

legend {
  font-family: "Prompt", sans-serif;
  color: white;
  font-size: calc(13px + 1vw);
  text-align: center; }

/*----------------------- SMALL -----------------------*/
@media only screen and (max-width: 600px) {
  #maps {
    padding-top: 10px;
    padding-bottom: 25px;
    height: 200px; } }

/*----------------------- LARGE -----------------------*/
@media screen and (min-width: 992px) {
  #maps {
    padding-top: 15px;
    padding-bottom: 25px;
    height: 280px; }
  form .mb-3 {
    width: 50%; } }

header {
  z-index: 1; }
  header nav {
    background-color: black; }
    header nav #logo a {
      text-decoration: none; }
    header nav #logo .kennaFontLogo {
      font-weight: bold; }
    header nav button {
      margin-right: 20px;
      margin-bottom: 12px; }
    header nav .navbar-toggler {
      background-color: black;
      border: 1px solid gray; }
      header nav .navbar-toggler .navbar-toggler-icon {
        background-image: url(../assets/menuhamb.png); }
    header nav ul {
      display: flex;
      list-style-type: none; }
      header nav ul li {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none; }
        header nav ul li a {
          text-decoration: none; }

footer {
  background-color: black; }
  footer #grillaFooter #footerRedes {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer #grillaFooter #footerRedes div a {
      text-decoration: none; }
    footer #grillaFooter #footerRedes #footerRedes2 {
      background-color: rgba(65, 65, 65, 0.39);
      border-radius: 20px;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      footer #grillaFooter #footerRedes #footerRedes2 .bi-facebook, footer #grillaFooter #footerRedes #footerRedes2 .bi-instagram, footer #grillaFooter #footerRedes #footerRedes2 .bi-whatsapp {
        color: white; }
    footer #grillaFooter #footerRedes #contenedorUbi {
      flex-direction: row;
      display: flex;
      justify-content: center;
      align-items: center; }
      footer #grillaFooter #footerRedes #contenedorUbi .bi-geo-alt {
        font-size: 20px;
        color: white; }
  footer #grillaFooter #leyendaFooter {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer #grillaFooter #leyendaFooter .pFooter {
      text-decoration: none; }
    footer #grillaFooter #leyendaFooter .fontLeyendaFooter {
      text-align: center; }

/*----------------------- SMALL -----------------------*/
@media only screen and (max-width: 600px) {
  /*INICIO header + nav*/
  header {
    width: 100%;
    box-sizing: border-box; }
    header nav {
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid white; }
      header nav #logo {
        padding-top: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 35px; }
        header nav #logo .kennaFontLogo {
          font-family: "Prompt", sans-serif;
          color: white;
          font-size: 35px; }
      header nav ul li .nav-link {
        color: #8b4991; }
  /*INICIO footer*/
  footer {
    padding-top: 15px;
    padding-bottom: 15px; }
    footer #grillaFooter {
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center; }
      footer #grillaFooter #footerRedes {
        width: 100%; }
        footer #grillaFooter #footerRedes #footerRedes2 {
          background-color: rgba(65, 65, 65, 0.39);
          border-radius: 20px;
          width: 130px;
          height: 40px; }
          footer #grillaFooter #footerRedes #footerRedes2 .bi-facebook, footer #grillaFooter #footerRedes #footerRedes2 .bi-instagram, footer #grillaFooter #footerRedes #footerRedes2 .bi-whatsapp {
            font-size: 18px; }
          footer #grillaFooter #footerRedes #footerRedes2 .bi-instagram {
            font-size: 18px; }
          footer #grillaFooter #footerRedes #footerRedes2 .bi-whatsapp {
            font-size: 18px; }
        footer #grillaFooter #footerRedes #contenedorUbi {
          padding-top: 10px; }
          footer #grillaFooter #footerRedes #contenedorUbi .pFooter {
            font-family: "Prompt", sans-serif;
            color: white;
            font-size: 15px; }
          footer #grillaFooter #footerRedes #contenedorUbi .bi-geo-alt {
            font-size: 15px;
            color: white;
            padding-right: 5px; }
      footer #grillaFooter #leyendaFooter .fontLeyendaFooter {
        padding-top: 5px;
        font-family: "Prompt", sans-serif;
        color: gray;
        font-size: 13px; }
      footer #grillaFooter #leyendaFooter .pFooter {
        font-family: "Prompt", sans-serif;
        color: white;
        font-size: 13px; } }

/*----------------------- LARGE -----------------------*/
@media screen and (min-width: 992px) {
  /*INICIO header + nav*/
  header {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    width: 100%; }
    header nav {
      display: flex;
      flex-direction: row;
      height: 65px;
      border-bottom: 1.5px solid white; }
      header nav #logo a {
        text-decoration: none; }
      header nav #logo .kennaFontLogo {
        font-family: "Prompt", sans-serif;
        color: white;
        font-size: 30px;
        width: 15%;
        padding-top: 12px;
        padding-left: 55px;
        padding-bottom: 5px; }
      header nav ul {
        justify-content: flex-end;
        align-items: center;
        width: 88%;
        padding-right: 50px;
        height: 100%; }
        header nav ul li {
          padding-right: 15px;
          font-size: 15px; }
          header nav ul li .nav-link {
            color: white; }
          header nav ul li .nav-link:hover {
            border-radius: 5px;
            padding: 5px;
            transition: all 0.1s;
            background-color: rgba(154, 70, 161, 0.397);
            color: white; }
  /*INICIO footer*/
  footer {
    padding-top: 10px; }
    footer #grillaFooter {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 105px;
      grid-template-areas: "redes leyenda"; }
      footer #grillaFooter #footerRedes {
        grid-area: redes; }
        footer #grillaFooter #footerRedes #footerRedes2 {
          background-color: rgba(65, 65, 65, 0.39);
          border-radius: 20px;
          width: 150px;
          height: 40px; }
          footer #grillaFooter #footerRedes #footerRedes2 .bi-facebook, footer #grillaFooter #footerRedes #footerRedes2 .bi-instagram, footer #grillaFooter #footerRedes #footerRedes2 .bi-whatsapp {
            font-size: 20px; }
          footer #grillaFooter #footerRedes #footerRedes2 .bi-instagram {
            font-size: 20px; }
          footer #grillaFooter #footerRedes #footerRedes2 .bi-whatsapp {
            font-size: 20px; }
          footer #grillaFooter #footerRedes #footerRedes2 .a:hover {
            transform: scale(1.2, 1.2);
            transition: all 0.2s; }
        footer #grillaFooter #footerRedes #footerRedes2:hover {
          background-color: rgba(87, 36, 92, 0.397); }
        footer #grillaFooter #footerRedes #contenedorUbi {
          padding-top: 8px; }
          footer #grillaFooter #footerRedes #contenedorUbi .pFooter {
            font-family: "Prompt", sans-serif;
            color: white;
            font-size: 15px; }
            footer #grillaFooter #footerRedes #contenedorUbi .pFooter:hover {
              color: #8b4991; }
          footer #grillaFooter #footerRedes #contenedorUbi .bi-geo-alt {
            font-size: 20px;
            padding: 5px; }
      footer #grillaFooter #leyendaFooter {
        padding-top: 5px;
        grid-area: leyenda; }
        footer #grillaFooter #leyendaFooter p {
          padding-bottom: 5px; }
          footer #grillaFooter #leyendaFooter p .pFooter {
            font-family: "Prompt", sans-serif;
            color: white;
            font-size: 15px; }
            footer #grillaFooter #leyendaFooter p .pFooter:hover {
              color: #8b4991; }
        footer #grillaFooter #leyendaFooter .fontLeyendaFooter {
          font-family: "Prompt", sans-serif;
          color: gray;
          font-size: 12px;
          padding-top: 5px; } }

/*TITULOS*/
#titulosContenedor {
  display: block; }
  #titulosContenedor .titulosHtml {
    font-family: "Prompt", sans-serif;
    color: white;
    font-size: calc(25px + 1.5vw);
    letter-spacing: 5px;
    text-align: center;
    padding-top: 25px; }

.parrafosHtml {
  font-family: "Prompt", sans-serif;
  color: white;
  font-size: calc(13px + 0.8vw);
  text-align: center; }

.leyendaHtmlFont {
  font-family: "Prompt", sans-serif;
  color: white;
  font-size: calc(15px + 1.5vw);
  text-align: center; }
