*{
    margin: 0;
    padding: 0;
}

@import "variables.scss";

/*NOSOTROS - General y Media Queries SM y LG
Recordatorio: titulos y parrafos en la hoja estilos.scss*/

#grillaNosotros{
    #contenedorCasillasNos{
        justify-content: center;
        margin-right: 0;
        margin-left: 0;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 0.625rem;
        }
    }
}

/*----------------------- SMALL -----------------------*/
@media only screen and (max-width: 600px){
    #grillaNosotros{
        #contenedorCasillasNos{
            #carouselExampleControls{
                height: 250px;
            }
            #leyendaNosotros2{
                display: none;
            }
        }
    }

    #presentacionNosotros{
        width: 95%;
        padding-top: 10px;
        padding-bottom: 20px;
    }
}
/*----------------------- LARGE -----------------------*/
@media screen and (min-width: 992px){
    #titulosContenedor{
        padding-bottom: 20px;
    }

    #grillaNosotros{
        width: 100%;
        #contenedorCasillasNos{
            #leyendaNosotros{
                @include displayFlex (row);
                width: 18% ;
            }
            #leyendaNosotros2{
                @include displayFlex (row);
                width: 18% ;
            }

            #carouselExampleControls{
                width: 60%;
                height: 400px;
                button{
                    z-index: 0;
                }
            }
        }
    }
    #presentacionNosotros{
        width: 70%;
        padding-top: 15px;
        padding-bottom: 25px;
    }
}