/*header + nav + footer GENERAL para todas las páginas. Media queries: SMALL y LARGE
    Titulos de las Pags incluidos (final de la hoja)*/
@import "index.scss";
@import "nosotros.scss";
@import "variables.scss";
@import "cafeteriaBar.scss";
@import "contacto.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
nav{
    #logo{
        .kennaFontLogo{
            font-weight: bold;
        }

        a{
            text-decoration: none;
        }
    }

    ul{
        display: flex;
        list-style-type:none; 

        li{
            color: $colorWhiteFont;
            font-family: $liFont;
            text-decoration: none;

            a{
                color: $colorWhiteFont;
                text-decoration: none;
            }
        }
    }

}

footer{
    background-color: rgb(0, 0, 0);

    #grillaFooter{
        #footerRedes{
            @include displayFlex (column);

            div a{
                text-decoration: none;
            }

            #footerRedes2{
                background-color: rgba(65, 65, 65, 0.39);
                border-radius: 20px;
                display: flex;
                justify-content:space-evenly;
                align-items: center;

                .bi-facebook{
                    color: $colorIcon;
                }
                
                .bi-instagram{
                    @extend .bi-facebook;
                }
                
                .bi-whatsapp{
                    @extend .bi-facebook;
                }
            }

            #contenedorUbi{
                @include displayFlex (row);
                .bi-geo-alt{
                    font-size: 20px;
                    color: $colorIcon;
                }
            }
        }
        #leyendaFooter{
            @include displayFlex (column);

            .pFooter{
                text-decoration: none;
            }
            
            .fontLeyendaFooter{
                text-align: center;
            }
        }
    }    
}




/*----------------------- SMALL -----------------------*/
@media only screen and (max-width: 600px){


    /*INICIO header + nav*/
    header{
        width: 100%;
        box-sizing: border-box;
        background: rgb(15, 1, 31);

        nav{
            @include displayFlex (column);
            border-bottom: 1px solid rgb(255, 255, 255);

            #logo{
                padding-top: 10px;
                width: 100%;
                display: flex;
                justify-content: center;

                .kennaFontLogo{
                    @include titulosParrafosGeneral($fontLogo , rgb(139, 73, 145), 35px) ;
                    text-align: center;
                }
            }

            ul{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left: 0;
                height: 100px;


                li a{
                    font-size: 12px;
                    color: $colorWhiteFont;
                }  
                a:hover{
                    color: $colorHoverFooterNav;
                }
            }
        }
    }

    /*INICIO footer*/

    footer{
        padding-top: 15px;
        padding-bottom: 15px;
        #grillaFooter{
            @include displayFlex (column);

            #footerRedes{
                width: 100%;
                #footerRedes2{
                    background-color: rgba(65, 65, 65, 0.39);
                    border-radius: 20px;
                    width: 130px;
                    height: 40px;

                    .bi-facebook{
                        font-size: 18px;
                    }
                    
                    .bi-instagram{
                        font-size: 18px;
                    }
                    
                    .bi-whatsapp{
                        font-size: 18px;
                    }
                }     

                #contenedorUbi{
                    padding-top: 10px;
                    .pFooter{
                        @include titulosParrafosGeneral ($fontParrafos , $colorWhiteFont , 15px);
                    }
                    .bi-geo-alt{
                        font-size: 15px;
                        color: $colorIcon;
                        padding-right: 5px;
                    }                    
                }            
            }

            #leyendaFooter{
                .fontLeyendaFooter{
                    padding-top: 5px;
                    @include titulosParrafosGeneral ($fontParrafos , gray , 13px);
                }

                .pFooter{
                    @include titulosParrafosGeneral ($fontParrafos , $colorWhiteFont , 13px);
                }
            }
        }
    }
}

/*----------------------- LARGE -----------------------*/
@media screen and (min-width: 992px){
 
    /*INICIO header + nav*/
    header{
        position: sticky;
        top: 0;
        box-sizing: border-box;
        width: 100%;
        background-color: black;
         
        nav{
            display: flex;
            flex-direction: row;
            height: 65px;
            border-bottom: 1.5px solid rgb(255, 255, 255);

            #logo{
                .kennaFontLogo{
                    @include titulosParrafosGeneral($fontLogo , $colorWhiteFont, 30px) ;
                    width: 15%;
                    padding-top: 12px;
                    padding-left: 55px;
                    padding-bottom: 10px;
 
                    a{
                        text-decoration: none;
                    }
                }
            }

            ul{
                justify-content: flex-end;
                align-items: center;
                width: 88%; 
                padding-right: 50px;
                height: 100%;

                li{
                    padding-right: 15px;
                    padding-left: 15px;
                    font-size: 15px;
                }

                a:hover{
                    border-radius: 5px;
                    padding: 5px;
                    transition: all 0.1s;
                    background-color: rgba(154, 70, 161, 0.397);
                    color: $colorWhiteFont;
                }
            } 
        }
    }
    /*INICIO footer*/
    footer{
        padding-top: 10px;
        #grillaFooter{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows:105px;
            grid-template-areas:"redes leyenda";

            #footerRedes{
                grid-area: redes;

                #footerRedes2{
                    background-color: rgba(65, 65, 65, 0.39);
                    border-radius: 20px;
                    width: 150px;
                    height: 40px;

                    .bi-facebook{
                        font-size: 20px;
                    }
                    
                    .bi-instagram{
                        font-size: 20px;
                    }
                    
                    .bi-whatsapp{
                        font-size: 20px;
                    }
                    .a:hover{
                        transform: scale(1.2 , 1.2);
                        transition: all 0.2s;
                    }
                }
                #footerRedes2:hover{
                    background-color: rgba(87, 36, 92, 0.397);
                }

                #contenedorUbi{
                    padding-top: 8px;
                    .pFooter{
                        @include titulosParrafosGeneral($fontParrafos , $colorWhiteFont , 15px);
                        &:hover{
                            color: $colorHoverFooterNav;
                        }
                    }
                    .bi-geo-alt{
                        font-size: 20px;
                        padding: 5px;
                    }
                }
            }
            #leyendaFooter{
                padding-top: 5px;
                grid-area: leyenda;
                p{
                    padding-bottom: 5px;
                    .pFooter{

                        @include titulosParrafosGeneral ($fontParrafos , $colorWhiteFont , 15px);
                        &:hover{
                            color: $colorHoverFooterNav;
                        }
                    }                    
                }

                .fontLeyendaFooter{
                    @include titulosParrafosGeneral ($fontParrafos , gray , 12px) ;
                    padding-top: 5px;
                }
            

            }           
        }

    }
}

/*TITULOS*/

#titulosContenedor{
    display: block;
    .titulosHtml{
        @include titulosParrafosGeneral ($fontParrafos, $colorWhiteFont, calc(20px + 1.5vw));
        letter-spacing: 5px;
        text-align: center;
        
    }  
}
.parrafosHtml{
    @include titulosParrafosGeneral ($fontParrafos, black, calc(13px + 0.8vw));
    text-align: center;

}
.leyendaHtmlFont{
    @include titulosParrafosGeneral ($fontParrafos , black , calc(15px + 1.5vw));
    text-align: center;
}