/*header + nav + footer GENERAL para todas las páginas. Media queries: SMALL y LARGE*/
@import "index.scss";
@import "variables.scss";

nav{
    #logo{
        
        a{
            text-decoration: none;
        }
    }

    ul{
        display: flex;
        list-style-type:none; 

        li{
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-decoration: none;

            a{
                color: white;
                text-decoration: none;
            }
        }
    }

}

footer{
    background-color: rgb(0, 0, 0);

    #grillaFooter{
        #footerRedes{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            div a{
                text-decoration: none;
            }

            #footerRedes2{
                background-color: rgba(65, 65, 65, 0.39);
                border-radius: 20px;
                display: flex;
                justify-content:space-evenly;
                align-items: center;

                .bi-facebook{
                    font-size: 20px;
                    color: white;
                }
                
                .bi-instagram{
                    @extend .bi-facebook;
                }
                
                .bi-whatsapp{
                    @extend .bi-facebook;
                }
            }

            #contenedorUbi{
                display: flex;
                justify-content: center;
                align-items: center;
                .bi-geo-alt{
                    font-size: 20px;
                    color: white;
                }
            }
        }
        #leyendaFooter{
            @extend #footerRedes;
            .fontLeyendaFooter{
                text-align: center;
            }
        }
    }    
}

img{
    width: 100%;
    height: 100%;
}



/*----------------------- SMALL -----------------------*/
@media only screen and (max-width: 600px){


    /*INICIO header + nav*/
    header{
        width: 100%;
        box-sizing: border-box;
        background: rgb(15, 1, 31);

        nav{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgb(255, 255, 255);

            #logo{
                padding-top: 10px;
                width: 100%;
                display: flex;
                justify-content: center;

                .kennaFontLogo{
                    @include parrafosFooter( rgb(154, 70, 161) , 35px );
                    text-align: center;
                }
            }

            ul{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left: 0;
                height: 100px;


                li a{
                    font-size: 12px;
                    color: white;
                }  
                a:hover{
                    color: rgb(154, 70, 161);
                }
            }
        }
    }

    /*INICIO footer*/

    footer{
        padding-top: 5px;
        padding-bottom: 8px;
        #grillaFooter{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            #footerRedes{
                width: 100%;
                #footerRedes2{
                    background-color: rgba(65, 65, 65, 0.39);
                    border-radius: 20px;
                    width: 90px;
                    height: 25px;

                    .bi-facebook{
                        font-size: 12px;
                    }
                    
                    .bi-instagram{
                        @extend .bi-facebook;
                    }
                    
                    .bi-whatsapp{
                        @extend .bi-facebook;
                    }
                }     

                #contenedorUbi{
                    padding-top: 10px;
                    .pFooter{
                        @include parrafosFooter(white, 12px )
                    }
                    .bi-geo-alt{
                        font-size: 10px;
                        color: white;
                        padding-right: 5px;
                    }                    
                }            
            }

            #leyendaFooter{
                .fontLeyendaFooter{
                    padding-top: 5px;
                    @include parrafosFooter(gray, 10px )
                }

                p{
                    margin-bottom: 0;                    
                
                    .pFooter{
                        @include parrafosFooter(white, 12px );
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 992px){

    /*INICIO header + nav*/
    header{
        position: sticky;
        top: 0;
        box-sizing: border-box;
        width: 100%;
        background-color: black;
         
        nav{
            display: flex;
            flex-direction: row;
            height: 65px;
            border-bottom: 1.5px solid rgb(255, 255, 255);

            #logo{
                .kennaFontLogo{
                    @include parrafosFooter(white, 30px );
                    width: 15%;
                    padding-top: 12px;
                    padding-left: 55px;
                    padding-bottom: 10px;
 
                    a{
                        text-decoration: none;
                    }
                }
            }

            ul{
                justify-content: flex-end;
                align-items: center;
                width: 88%; 
                padding-right: 50px;
                height: 100%;

                li{
                    padding-right: 15px;
                    padding-left: 15px;
                    font-size: 15px;
                }

                a:hover{
                    border-radius: 5px;
                    padding: 5px;
                    transition: all 0.1s;
                    background-color: rgba(154, 70, 161, 0.397);
                    color: white;
                }
            } 
        }
    }
    /*INICIO footer*/
    footer{
        padding-top: 10px;
        #grillaFooter{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows:105px;
            grid-template-areas:"redes leyenda";

            #footerRedes{
                grid-area: redes;

                #footerRedes2{
                    background-color: rgba(65, 65, 65, 0.39);
                    border-radius: 20px;
                    width: 150px;
                    height: 40px;

                    .bi-facebook{
                        font-size: 20px;
                    }
                    
                    .bi-instagram{
                        @extend .bi-facebook;
                    }
                    
                    .bi-whatsapp{
                        @extend .bi-facebook;
                    }
                    .a:hover{
                        transform: scale(1.2 , 1.2);
                        transition: all 0.2s;
                    }
                }
                #footerRedes2:hover{
                    background-color: rgba(87, 36, 92, 0.397);
                }

                #contenedorUbi{
                    padding-top: 5px;
                    .pFooter{
                        @include parrafosFooter(white,15px );
                        &:hover{
                            color: rgb(139, 73, 145);
                        }
                    }
                    .bi-geo-alt{
                        @extend .bi-facebook;
                        padding: 5px;
                    }
                }
            }
            #leyendaFooter{
                padding-top: 5px;
                grid-area: leyenda;
                .fontLeyendaFooter{
                    @include parrafosFooter(gray, 12px);
                }
            
                .pFooter{
                    @include parrafosFooter(white,15px );
                    &:hover{
                        color: rgb(139, 73, 145);
                    }
                }
            }           
        }

    }
}